.root{
 -fx-background-color: black;
}
.scroll-pane{
 -fx-background-color: black;
 -fx-background: black;
}
.text-field{
 -fx-background-color: grey;
}
.button{
 -fx-background-color: gray;
 -fx-font-size: 20;
}
.label{
 -fx-font-size: 20;
 -fx-text-fill: grey;
}